<!DOCTYPE html>
<html>
    <head>
        <title>Spot My Stats</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src = display.js></script>
        <script src = scripts.js></script>
    </head>
    <body>
        <div class = "Search Bar">
            <h1>Search User</h1>
            <input type = "text" id = "search"/>
            <button type = "button">Search</button>
        </div>
        <div class = "results">
            <div class = "top_songs">

            </div>
            <div class = "pieChart">

            </div>
            <div class = "barGraph">

            </div>
        </div>
        <!--<h1>Top Songs for you</h1>-->
        <!--<p>This is a paragraph.</p>-->
    </body>
</html>